<!-- Edit Card Modal -->
<div class="modal fade" id="setActivisionID" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editCardModalTitle">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h4 id="editCardModalTitle" class="modal-title">Add your activision account</h4>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <p class="text-muted">Finalize your account by telling us your activision ID. This let's other players add you for tournamnents or scrims.</p>
        <form>
          <!-- Form Group -->
          <div class="form-group">
            <label for="activision_id" class="input-label">Activision ID</label>
            <input id ="activision_name" type="text" class="form-control" id="activision_id" placeholder="SomeAccount#123" value="">
          </div>
          <!-- End Form Group -->

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Close</button>
            <button id="submit_id" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <!-- End Body -->
    </div>
  </div>
</div>
<!-- End Edit Card Modal -->
