{% extends "layout/layout.html" %}
{% block content %}
<div class="row-fluid mt-5 d-flex">
  <div class="col text-left">
    <h2>You're team is registered!</h2>
    <hr />
    <p>We've received your registration. We are validating your teams' Activision IDs and will send you confirmation of your registration.</p>
    <p>Here's what to expect next:</p>
    <ul>
      <li>Each player will receive a confirmation email of their Activision ID. If we could not validate your Activision ID, we'll ask you to provide an alternate ID. Team registrations are only valid if all players have a confirmed Activision ID.</li>
      <li>A URL to the leaderboards will be sent to each player a day before the event begins</li>
      <li>Prizes will be paid out 5 business days after the event. Moderators will email each player individually for their share of the prize pool.</li>
    </ul>
    <p>Join our discord for additional support and networking!</p>
    <a href="{{ url_for('public.discord') }}" class="btn btn-danger">Join our Discord!</a>
  </div>
</div>
{% endblock %}
