{% extends "layout/layout.html" %}
{% set active = "" %}
{% block content %}
<!--====== Register Area Start ======-->
<div class="register-main">
  <div class="row g-0 d-flex">
    <div class="col-md-6 col-12">
      <div class="register-left">
        {#<div class="back-link text-center d-block d-sm-none">
          <a href="#">
            <img src="{{ url_for('static', filename='img/icons/arrow-back.png') }}" alt="back" />
            Go Back
          </a>
        </div>#}
        <div class="register-box">
          <div class="register-inner">
            <div class="card-tournament active">
              <div class="card-img">
                <img src="{{ url_for('static', filename='img/cod1.jpeg') }}" alt="Cod" />
              </div>
              <div class="card-body">
                <div class="card-heading">
                  <h3>{{ event.name }}</h3>
                  <p>{{ event.start_time|format_datetime('%B %d') }}</p>
                </div>
                <ul class="card-list">
                  <li class="list-item">
                    Prize Pool: <span>{{ "${:,.0f}".format(event.prize_pool) }}</span>
                  </li>
                  <li class="list-item">Team Size:
                    {% if event.team_size == 1 %}
                      <span>Solos</span>
                    {% elif event.team_size == 2 %}
                      <span>Duos</span>
                    {% elif event.team_size == 3 %}
                      <span>Trios</span>
                    {% else %}
                      <span>Quads</span>
                    {% endif %}
                  </li>
                  <li class="list-item">Length: <span>{{ event.start_time|timedelta(event.end_time) }}</li>
                  <li class="list-item">Scoring mode: <span>Kill Race</span></li>
                  <li class="list-item">Entry Fee: <span>Free</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="register-right">
        <div class="register-box">
          <div class="register-inner m-0 p-0">
            <h2 class="banner-heading">You're team is registered!</h2>
            <hr />
            <p class="text-white">We've received your registration and you are confirmed to play! Here's what you need to know:</p>
            <ul class="text-white">
              <li>Each player will receive a confirmation email of their team's registration.</li>
              <li>The email sent to each player will contain a link to report scores and view the leaderboard.</li>
              <li>During the event, teams will need to report score using the link in their email. All reported scores will need a link to the respective COD tracker results at <a href="https://cod.tracker.gg">COD Tracker</a>.</li>
              <li>Leaderboards will be updated as players report their score.</li>
              <li>We will email players after the event to coordinate payouts.</li>
            </ul>
            <p class="text-white">Join our discord for additional support, questions, and networking!</p>
            <a href="{{ url_for('public.discord_server') }}" class="btn btn-danger">Join our Discord!</a>

          {#<!--====== Footer Area Start ======-->
          <footer class="footer text-center mt-5 d-block d-sm-none">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-12 offset-md-1">
                  <div class="social-link">
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/Subtraction.png') }}"
                        alt="Subtraction"
                      />
                    </a>
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/telegram.png') }}"
                        alt="telegram"
                      />
                    </a>
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/message.png') }}"
                        alt="message"
                      />
                    </a>
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/twitter.png') }}"
                        alt="twitter"
                      />
                    </a>
                  </div>
                  <p>
                    © 2021 by Slayout. Slayout.gg is an Independent
                    CommunityTournament Organizer. Slayout is NOT
                    AFFILIATED, AUTHORIZED, LICENSED OR ENDORSED by
                    Activision®, Blizzard®, Call of Duty®, Modern Warfare®
                    or Warzone™.
                  </p>
                  <div class="footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Conditions</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!--====== Footer Area End ======-->#}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
