<!--====== Connect Area Start ======-->
<section>
  <div class="newsletter-area">
    <div class="container">
      <div class="row justify-content-md-center">
        {#<div class="col-md-6 col-12 mb-5 mb-sm-0">
          <h4>Stay informed</h4>
          <p>
            Subscribe to our newsletter and stay informed about events and
            promo codes for ticket discounts!
          </p>
          <div class="d-sm-flex w-100">
            <input
              type="email"
              class="w-100 mr-2 mb-2 mb-sm-0"
              placeholder="Enter your email here"
            />
            <button type="submit" class="btn-custom-primary xs-100">
              Submit
            </button>
          </div>
        </div>#}
        <div class="col-6">
          <h4>Join in on the fun</h4>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            diam nonumy eirmod tempor invidunt ut
          </p>
          <a
            href="{{ url_for('public.discord') }}"
            class="btn-custom-icon btn-custom-primary d-block text-center"
          >
            <img src="{{ url_for('static', filename='img/icons/discord.png') }}" alt="Discord" />
            Join our discord</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Connect Area End ======-->
