
{% extends "layout/layout.html" %}
{% block content %}
<!-- Hero Section -->
<div class="position-relative bg-primary overflow-hidden">
  <div class="container position-relative z-index-2 space-top-3 space-top-md-4 space-bottom-3 space-bottom-md-4">
    <div class="w-md-80 w-xl-60 text-center mx-md-auto">
      <div class="mb-7">
        <h1 class="display-4 text-white mb-4">It's time to get competitive</h1>
        <p class="lead text-white mb-4">Join us for weekly Warzome tournaments, cash prizes, and more!</p>
      </div>
      <a class="btn btn-light btn-wide transition-3d-hover" href="#registerModal">Register Now</a>
      <a class="btn text-white" href="#">Get in Touch <i class="fas fa-angle-right fa-sm ml-1"></i></a>
    </div>
  </div>

  <!-- SVG Shapes -->
  <figure class="position-absolute top-0 left-0 w-60">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1246 1078">
      <g opacity=".4">
        <linearGradient id="doubleEllipseTopLeftID1" gradientUnits="userSpaceOnUse" x1="2073.5078" y1="1.7251" x2="2273.4375" y2="1135.5818" gradientTransform="matrix(-1 0 0 1 2600 0)">
          <stop offset="0.4976" style="stop-color:gulpLighten[@@vars.style.color,30]"/>
          <stop offset="1" style="stop-color:@@vars.style.color"/>
        </linearGradient>
        <polygon fill="url(#doubleEllipseTopLeftID1)" points="519.8,0.6 0,0.6 0,1078 863.4,1078   "/>
        <linearGradient id="doubleEllipseTopLeftID2" gradientUnits="userSpaceOnUse" x1="1717.1648" y1="3.779560e-05" x2="1717.1648" y2="644.0417" gradientTransform="matrix(-1 0 0 1 2600 0)">
          <stop offset="1.577052e-06" style="stop-color:gulpLighten[@@vars.style.color,30]"/>
          <stop offset="1" style="stop-color:@@vars.style.color"/>
        </linearGradient>
        <polygon fill="url(#doubleEllipseTopLeftID2)" points="519.7,0 1039.4,0.6 1246,639.1 725.2,644   "/>
      </g>
    </svg>
  </figure>
  <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
      <path fill="#faf9fa" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
    </svg>
  </figure>
  <!-- End SVG Shapes -->
</div>
<!-- End Hero Section -->

<!-- End Clients Section -->
<div class="container space-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <span class="d-block small font-weight-bold text-cap mb-2">Upcoming Events</span>
    <h2 class="h1">Register for an upcoming event</h2>
  </div>
  <!-- End Title -->
  {% for event in events %}
  <div class="row mb-1">
    <div class="col-12">
      <!-- Card -->
      <div class="card card-bordered card-hover-shadow mb-5">
        <div class="card-body">
          <!-- Media -->
          <div class="d-sm-flex">
            <div class="media align-items-center align-items-sm-start mb-3">
              <div class="media-body d-sm-none">
                <h6 class="mb-0">
                  <a class="text-dark" href="employer.html">Mailchimp</a>
                </h6>
              </div>
            </div>

            <div class="media-body">
              <div class="row">
                <div class="col col-md-8">
                  <h3 class="mb-0">
                    <a class="text-dark" href="job-overview.html">{{ event.name }}</a>
                  </h3>
                  <div class="d-none d-sm-inline-block">
                    <h6 class="mb-0">
                      {{ event.start_time.strftime('%m/%d/%y - %H:%M %p') }} Pacific Time
                    </h6>
                    <p>{{ event.description }}<p>
                  </div>
                </div>

                <div class="col-auto order-md-3">
                  <!-- Checkbbox Bookmark -->
                  <div class="custom-control custom-checkbox-bookmark">
                    <input type="checkbox" id="checkboxBookmark1" class="custom-control-input custom-checkbox-bookmark-input">
                    <label class="custom-checkbox-bookmark-label" for="checkboxBookmark1">
                      <span class="custom-checkbox-bookmark-default" data-toggle="tooltip" data-placement="top" title="Save this job">
                        <i class="far fa-star"></i>
                      </span>
                      <span class="custom-checkbox-bookmark-active" data-toggle="tooltip" data-placement="top" title="Saved">
                        <i class="fas fa-star"></i>
                      </span>
                    </label>
                  </div>
                  <!-- End Checkbbox Bookmark -->
                </div>

                <div class="col-12 col-md mt-3 mt-md-0">
                  <span class="d-block text-body mb-1 font-weight-bold">Prize Pool</span>
                  <p>Prizes not awarded for this event</p>
                  <a href="#" class="btn btn-primary">Register</a>
                </div>
              </div>
              <!-- End Row -->
            </div>
          </div>
          <!-- End Media -->
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
