
{% extends "layout/layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      {% for event in events %}
      <div class="col-md-4">
        <h2>{{ event.name }}</h2>
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Mode</td>
              <td>
                {% if event.team_size == 1 %}
                  Singles
                {% elif event.team_size == 2 %}
                  Duos
                {% elif event.team_size == 2 %}
                  Trios
                {% else %}
                  Quads
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Length</td>
              <td>{{ (event.end_time - event.start_time).seconds/60/60 }} Hour(s)</td>
            </tr>
            <tr>
              <td>Start Time</td>
              <td>{{ event.start_time.strftime('%b %d') }}</td>
            </tr>
            <tr>
              <td>Scoring</td>
              <td>Best {{ event.num_games }} Games</td>
            </tr>
            <tr>
              <td>Teams / Division</td>
              <td>{{ event.teams_per_division }}</td>
            </tr>
          </tbody>
        </table>
        {% if event.status == 'Registering' %}
        <a href="{{ url_for('public.register', event_id=event.id) }}" class="btn btn-primary">Register Here</a>
        {% else %}
        <p class="btn btn-secondary">Registration Closed</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <hr>

  </div> <!-- /container -->


{% endblock %}
