{% extends "layout/layout.html" %}
{% set show_footer = 1 %}
{% set active = "" %}
{% from "macros/_vertical_form.html" import render_simple_field, render_headless_field_with_errors %}
{% block content %}
<!--====== Register Area Start ======-->
<div class="register-main">
  <div class="row no-gutters d-flex">
    <div class="col-md-6 col-12">
      <div class="register-left">
        {#<div class="back-link text-center d-block d-sm-none">
          <a href="#">
            <img src="{{ url_for('static', filename='img/icons/arrow-back.png') }}" alt="back" />
            Go Back
          </a>
        </div>#}
        <div class="register-box">
          <div class="register-inner">
            <div class="card-tournament active">
              <div class="card-img">
                <img src="{{ url_for('static', filename='img/cod1.jpeg') }}" alt="Cod" />
              </div>
              <div class="card-body">
                <div class="card-heading">
                  <h3>{{ event.name }}</h3>
                  <p>{{ event.start_time|format_datetime('%B %d') }}</p>
                </div>
                <ul class="card-list">
                  <li class="list-item">
                    Prize Pool: <span>{{ "${:,.0f}".format(event.prize_pool) }}</span>
                  </li>
                  <li class="list-item">Playlist: <span>{{ event.playlist }}</span></li>
                  <li class="list-item">Team Size:
                    {% if event.team_size == 1 %}
                      <span>Solos</span>
                    {% elif event.team_size == 2 %}
                      <span>Duos</span>
                    {% elif event.team_size == 3 %}
                      <span>Trios</span>
                    {% else %}
                      <span>Quads</span>
                    {% endif %}
                  </li>
                  <li class="list-item">Length: <span>{{ event.start_time|timedelta(event.end_time) }}</li>
                  <li class="list-item">Scoring mode: <span>Kill Race</span></li>
                  <li class="list-item">Entry Fee: <span>Free</span></li>
                </ul>
              </div>
            </div>
            {#<div class="row">
              <div class="col-sm-6 col-md-4 col-4 mt-3">
                <div class="card-history active">
                  <h4>Division 1</h4>
                  <ul class="card-list">
                    <li class="list-item-sm">
                      Combined K/D: <span>{{ event.team_size * 4 }}+</span>
                    </li>
                    <li class="list-item-sm">First Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(1) / 3) }}</span></li>
                    <li class="list-item-sm">Second Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(2) / 3) }}</span></li>
                    <li class="list-item-sm">Third Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(3) / 3) }}</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-4 mt-3">
                <div class="card-history active">
                  <h4>Division 2</h4>
                  <ul class="card-list">
                    <li class="list-item-sm">
                      Combined K/D: <span>{{ event.team_size * 2 }}+</span>
                    </li>
                    <li class="list-item-sm">First Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(1) / 3) }}</span></li>
                    <li class="list-item-sm">Second Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(2) / 3) }}</span></li>
                    <li class="list-item-sm">Third Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(3) / 3) }}</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-4 mt-3">
                <div class="card-history active">
                  <h4>Division 3</h4>
                  <ul class="card-list">
                    <li class="list-item-sm">
                      Combined K/D: <span><{{ event.team_size * 2 }}</span>
                    </li>
                    <li class="list-item-sm">First Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(1) / 3) }}</span></li>
                    <li class="list-item-sm">Second Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(2) / 3) }}</span></li>
                    <li class="list-item-sm">Third Place: <span>{{ "${:,.0f}".format(event.get_prize_by_placement(3) / 3) }}</span></li>
                  </ul>
                </div>
              </div>
            </div>#}

          {#  <!--====== Footer Area Start ======-->
            <footer class="footer mt-5 d-none d-sm-block">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-12 offset-md-1">
                    <div class="social-link">
                      <a href="#">
                        <img
                          src="{{ url_for('static', filename='img/icons/Subtraction.png') }}"
                          alt="Subtraction"
                        />
                      </a>
                      <a href="#">
                        <img
                          src="{{ url_for('static', filename='img/icons/telegram.png') }}"
                          alt="telegram"
                        />
                      </a>
                      <a href="#">
                        <img
                          src="{{ url_for('static', filename='img/icons/message.png') }}"
                          alt="message"
                        />
                      </a>
                      <a href="#">
                        <img
                          src="{{ url_for('static', filename='img/icons/twitter.png') }}"
                          alt="twitter"
                        />
                      </a>
                    </div>
                    <p>
                      © 2021 by Slayout. Slayout.gg is an Independent
                      CommunityTournament Organizer. Slayout is NOT
                      AFFILIATED, AUTHORIZED, LICENSED OR ENDORSED by
                      Activision®, Blizzard®, Call of Duty®, Modern Warfare®
                      or Warzone™.
                    </p>
                    <div class="footer-links">
                      <a href="#">Privacy Policy</a>
                      <a href="#">Terms & Conditions</a>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
            <!--====== Footer Area End ======-->#}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="register-right">
        <div class="register-box">
          <div class="register-inner m-0 p-0">
            {#<h2 class="text-white">Register Now!</h2>#}
            {#<div class="back-link d-none d-sm-block">
              <a href="#">
                <img
                  src="{{ url_for('static', filename='img/icons/arrow-back.png') }}"
                  alt="back"
                />
                Go Back
              </a>
            </div>
            <a href="index.html" class="logo d-none d-sm-block">
              <div class="logo-image">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" />
              </div>
              <div class="logo-text">war<span>zone</span></div>
            </a>#}
            <form method="POST" class="register-form">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-12">
                  <h3 class="regiter-heading">Team Info</h3>
                  {{ render_headless_field_with_errors(form.name, class="form-control mb-3", placeholder="Team Name", required=True) }}
                </div>
                {#<div class="col-12">
                  <h3 class="regiter-heading">4 Players Tournament</h3>
                </div>#}
                {% for player in form.players %}
                  <div class="col-12">
                    <h3 class="regiter-heading">Player {{ loop.index }}</h3>
                    {{ render_headless_field_with_errors(player.form.name, class="form-control mb-3", placeholder="Player Name", required=True) }}
                    {{ render_headless_field_with_errors(player.form.username, class="form-control mb-3", placeholder="Activision ID", required=True) }}
                    {{ render_headless_field_with_errors(player.form.email, class="form-control mb-3", placeholder="Email", required=True) }}
                  </div>
                {% endfor %}
                {#<div class="col-12">
                  <h3 class="regiter-heading">Payment Details</h3>
                </div>
                <div class="col-12">
                  <div class="card-input">
                    <img src="{{ url_for('static', filename='img/icons/card.png') }}" alt="" />
                    <input
                      type="text"
                      placeholder="Your Card Number"
                      class="mb-3"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <input
                    type="text"
                    placeholder="Expiry Month"
                    class="mb-3"
                  />
                </div>
                <div class="col-md-4 col-12">
                  <input
                    type="text"
                    placeholder="Expiry Year"
                    class="mb-3"
                  />
                </div>
                <div class="col-md-4 col-12">
                  <input type="text" placeholder="CVV" class="mb-3" />
                </div>#}
                <div class="col-12 bm-5">
                  <button class="btn-custom-primary w-100" type="submit">
                    {#<img src="{{ url_for('static', filename='img/icons/shield.png') }}" alt="" />#}
                    Register
                  </button>
                </div>
              </div>
            </form>
          {#<!--====== Footer Area Start ======-->
          <footer class="footer text-center mt-5 d-block d-sm-none">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-12 offset-md-1">
                  <div class="social-link">
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/Subtraction.png') }}"
                        alt="Subtraction"
                      />
                    </a>
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/telegram.png') }}"
                        alt="telegram"
                      />
                    </a>
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/message.png') }}"
                        alt="message"
                      />
                    </a>
                    <a href="#">
                      <img
                        src="{{ url_for('static', filename='img/icons/twitter.png') }}"
                        alt="twitter"
                      />
                    </a>
                  </div>
                  <p>
                    © 2021 by Slayout. Slayout.gg is an Independent
                    CommunityTournament Organizer. Slayout is NOT
                    AFFILIATED, AUTHORIZED, LICENSED OR ENDORSED by
                    Activision®, Blizzard®, Call of Duty®, Modern Warfare®
                    or Warzone™.
                  </p>
                  <div class="footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Conditions</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!--====== Footer Area End ======-->#}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
