{% extends "layout/layout.html" %}
{% set active = "" %}
{% block content %}
<!--====== Banner Area Start ======-->
<section>
  <div class="tournaments">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="heading">CompBeast.GG- TOURNAMENT RULES / T&amp;C’s</h2>
          <h6 class="heading-left heading-sm"><span>Quick Rules</span></h6>
          <ul class="text-white">
            <li>CompBeast.gg tournaments are open to players on all platforms, although cross-play must be enabled.</li>
            <li>Participation in our tournaments will be open registration, consisting of a player captain and their teammates</li>
            <li>All participants must play on their main account</li>
            <li>Each tournament will be held over one week where teams will pick a designated timeperiod where their team will compete.</li>
            <li>Tournament prize pool is $1,000 in total, split as follows:
              <ul>
                <li>First Place: $500</li>
                <li>Second Place $150</li>
                <li>Third Place $100</li>
                <li>Fourth Place: $50</li>
                <li>Fifth Place: $25</li>
                <li>6th - 10th Place: $20</li>
                <li>11th - 20th Place: $10</li>
              </ul>
            </li>
            <li>Participants must be at least 18 years old as of the tournament start date</li>
            <li>Employee’s of CompBeast.gg and all associated companies are not allowed to participate in this tournament.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>General</span></h6>
          <ul class="text-white">
            <li>CompBeast.gg is a community tournament for Call of Duty: Warzone, hosted by oFook. The game mode ‘Duos’ in Battle Royale will be used throughout the entire competition. CompBeast.gg is an open registration tournament but limited to players who are residents of the following jurisdictions:
              <ul>
                <li>United States</li>
                <li>Canada</li>
                <li>EMEA</li>
                <li>United Kingdom</li>
              </ul>
            </li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Administration</span></h6>
          <ul class="text-white">
            <li>Everybody who is authorized by oFook to administrate CompBeast.gg based on its rules and regulations will be called an "admin" in the following, the collection of all admins will be called the "administration".</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Participants and Commitment</span></h6>
          <ul class="text-white">
            <li>Only real persons with a valid Activision Account are allowed to participate in CompBeast.gg The team captains will be called “player” in the following. Every participant must fulfil the following conditions:
              <ul>
                <li>Participants must be at least 18 years old as of the start of the tournament</li>
                <li>Participants must be a citizen or be a resident of the United States, Canada, EMEA, United Kingdom</li>
                <li>Participants must not be employees of CompBeast.gg</li>
              </ul>
            </li>
            <li>By participating in our tournaments, players acknowledge without limitation to comply with the rules and regulations and with the statements and decisions made by the administration.</li>
            <li>Every player acknowledges the right for the administration to modify the rules and regulations for adjustments at any time without notice and if necessary overrule those to ensure fair play and integrity throughout each round.</li>
            <li>Every player has to show the needed respect towards admins and other participants. Insults and unfair or disrespectful behavior towards anyone are not tolerated and will be punished in accordance with these rules.</li>
            <li>Every player must join the required Discord server in order to be registered for the tournament. The link to the Discord server is <a href="https://discord.gg/HNTUQUdYKP">https://discord.gg/HNTUQUdYKP</a>.</li>
            <li>Every player has to try to win every round at every stage of CompBeast.gg. Purposefully losing for any reason is strictly forbidden.</li>
            <li>Vulgar, racist, sexist or otherwise offensive player names are forbidden. This will be at the sole discretion of the tournament admins.</li>
            <li>Every player acknowledges the right for the administration to edit players’ names if names are deemed unfit for display.</li>
            <li>Every player in CompBeast.gg consents to the collected footage of photo, audio, or video displaying them during the tournament to be stored and used for announcements, website content and other publications by CompBeast.gg unrestricted and unlimited in terms of time and place.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Communication</span></h6>
          <ul class="text-white">
            <li>All communication between players and the administration has to be held in English at any time and at any stage of CompBeast.gg tournaments.</li>
            <li>The administration may only be contacted via the following e-mail address: admin@compbeast.gg or the Tournament Discord. This helps admins to coordinate as a team and work faster on issues than with the help of other platforms. Any other form of communication shall be ignored.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Breach of Terms of Use.</span></h6>
          <ul class="text-white">
            <li>If participants are found guilty of Bug Abuse or in breach of Activision's Terms of Use, they may face consequences including automatic disqualification. All punishment will be at the sole discretion of the administration.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Replays</span></h6>
          <ul class="text-white">
            <li>Every player must save their own replays of all tournament games for at least seven (7) days. Upon request by an admin, each participant must submit the replay to the administration within 24 hours. Failing to comply with this request may result in punishment.</li>
          </ul>


          <h6 class="heading-left heading-sm"><span>Griefing</span></h6>
          <ul class="text-white">
            <li>It is prohibited to intentionally negatively impact your opponent's gameplay in an attempt to sabotage their chances of winning a match. With regard to vehicles, unoccupied vehicles are not considered to be the property of any player, and destroying them is not to be considered griefing.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Reporting the score</span></h6>
          <ul class="text-white">
            <li>Each team will be provided a link for them to report their scores. Teams must use this link to report scores.</li>
            <li>Each team will be provided a Dropbox link to upload their recorded gameplay. Gameplay must be provided within 24 hours of their gameplay completion.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Protests</span></h6>
          <ul class="text-white">
            <li>Protest against any other sort of rule violation by another player can only be reported with video evidence. The protest must include a specific timestamp when the violation took place, the name of the player who committed the violation, as well as a clear description of what happened. Protests that either lack evidence or details such as timestamp and description will be discarded. All protests must be sent to an Admin via the tournament Discord server or through the tournament email address: admin@compbeast.gg</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Possible Punishments</span></h6>
          <ul class="text-white">
            <li>The punishments for any rule violations include but are not limited to:
              <ul>
                <li>Disqualification from the tournament</li>
                <li>Disqualification from future tournaments</li>
                <li>Prize Money Reduction</li>
              </ul>
            </li>

            <li>Punishments shall be determined at the Administration’s sole discretion.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Prizes</span></h6>
          <ul class="text-white">
            <li>The prize of CompBeast.gg tournaments is:
              <ul>
                <li>First Place: $500</li>
                <li>Second Place $150</li>
                <li>Third Place $100</li>
                <li>Fourth Place: $50</li>
                <li>Fifth Place: $25</li>
                <li>6th - 10th Place: $20</li>
                <li>11th - 20th Place: $10</li>
              </ul>
            </li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Community Prizes</span></h6>
          <ul class="text-white">
            <li>The tournament will not provide community prizes at this time.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Currency</span></h6>
          <ul class="text-white">
            <li>Prize money for UK or EMEA participants will be paid in GBP / Euro at an exchange rate of 1 USD: 0.80 GBP or 1 USD: 0.83 EUR determined by the Tournament administrators. This is subject to change based on current conversion rates.</li>
          </ul>

          <h6 class="heading-left heading-sm"><span>Payment & Community Prize fulfillment details</span></h6>
          <ul class="text-white">
            <li>The prizes will be fulfilled within 90 days of a verified win.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
