<footer class="space-1 bg-dark p-3">
  <div class="row align-items-md-center text-center">
    <div class="col-md-3 mb-4 mb-md-0">
      <a href="#" aria-label="Front">
        <img class="brand" src="{{ url_for('static', filename='assets/svg/logos/logo.svg') }}" alt="Logo">
      </a>
    </div>

    <div class="col-sm-7 col-md-6 mb-4 mb-sm-0">
      <!-- Nav List -->
      <ul class="nav nav-sm nav-x-0 justify-content-center text-md-center">
        <li class="nav-item px-3">
          <a class="nav-link text-light" href="index.html">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link text-light" href="mayhem.html">Monthly Mayhem</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link text-light" href="events.html">Events</a>
        </li>
      </ul>
      <!-- End Nav List -->
    </div>

    <div class="col-sm-5 col-md-3 text-sm-right">
      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-light rounded-circle" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-light rounded-circle" href="#">
            <i class="fab fa-google"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-light rounded-circle" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-light rounded-circle" href="#">
            <i class="fab fa-discord"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
</footer>
