<!--====== Footer Area Start ======-->
<footer class="footer py-5 text-center bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-12 offset-md-1">
        {#<div class="social-link">
          <a href="#">
            <img
              src="{{ url_for('static', filename='img/icons/Subtraction.png') }}"
              alt="Subtraction"
            />
          </a>
          <a href="#">
            <img src="{{ url_for('static', filename='img/icons/telegram.png') }}" alt="telegram" />
          </a>
          <a href="#">
            <img src="{{ url_for('static', filename='img/icons/message.png') }}" alt="message" />
          </a>
          <a href="#">
            <img src="{{ url_for('static', filename='img/icons/twitter.png') }}" alt="twitter" />
          </a>
        </div>#}
        <p>
          © 2021 by CompBeast.gg. CompBeast.gg is an Independent
          Community Tournament Organizer. CompBeast.gg is not affiliated,
          authorized, licenses nor endorsed by Activision®, Blizzard®, Call
          of Duty®, Modern Warfare® or Warzone™.
        </p>
        {#<div class="footer-links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
        </div>#}
      </div>
    </div>
  </div>
</footer>
<!--====== Footer Area End ======-->
