<!--====== Header Area Start ======-->
<header class="header-main">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{{ url_for('public.home') }}">
        <div class="logo-image">
          <img src="{{ url_for('static', filename='img/logoicon.svg') }}" alt="" />
        </div>
        <div class="logo-text">comp<span>beast</span></div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="{{ url_for('static', filename='img/icons/menu.svg') }}" alt="" />
        </span>
      </button>

      <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if active == "home" %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('public.home') }}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item {% if active == "events" %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('events.index') }}">Events</a>
          </li>
          {#<li class="nav-item">
            <a class="nav-link" href="#">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Discounts</a>
          </li>#}
        </ul>
        {#<div class="my-2 my-lg-0">
          <a href="login.html" class="btn-custom-primary">Log In</a>
          <a href="login.html" class="btn-custom-primary-outlined"
            >Register</a
          >
        </div>#}
      </div>
    </nav>
  </div>
</header>
<!--====== Header Area End ======-->
