<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title  -->
    <title>CompBeast.gg</title>

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <!-- ***** All CSS Files ***** -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" />
  </head>
  <body>
    {% if show_header is not defined or show_header == 1 %}
      {% include 'layout/header.html' %}
    {% endif %}
    {% block content %}{% endblock %}
    {% if show_footer is not defined or show_footer == 1 %}
      {% include 'layout/footer.html' %}
    {% endif %}
  </body>
</html>

<script src="{{ url_for('static', filename='js/jquery/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
