<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="facebook-domain-verification" content="9xox47fdt5r5gl537c5xg0n113x0bp" />

    <!-- Title  -->
    <title>CompBeast.gg</title>

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

    <!-- CSS Implementing Plugins -->
    <!-- bundlecss:vendor [@@autopath] -->
    <link rel="stylesheet" href="{{ url_for('static', filename='img/bootstrap-icons/font/bootstrap-icons.css') }}">

    <!-- ***** All CSS Files ***** -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N2K0NVXWEM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N2K0NVXWEM');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1057051328439175');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1057051328439175&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

  <!-- Start TikTok Pixel Code -->
	<script>
		!function (w, d, t) {
		  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

		  ttq.load('C43V39MI9NESIEHLP1P0');
		  ttq.page();
		}(window, document, 'ttq');
	</script>
  <!-- End TikTok Pixel Code -->

  </head>
  <body>
    {% if show_header is not defined or show_header == 1 %}
      {% include 'layout/header.html' %}
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container-fluid pt-3" style="position:fixed;z-index:900;">
          {% for message in messages %}
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="alert alert-primary alert-dismissable" style="width:100%;" role="alert">
                    {{ message }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% if show_footer is not defined or show_footer == 1 %}
      {% include 'layout/footer.html' %}
    {% endif %}
  </body>
</html>

<script src="{{ url_for('static', filename='js/jquery/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
