{% extends "layout/layout.html" %}
{% set active = "events" %}
{% block content %}
<!--====== Banner Area Start ======-->
<div class="laederboard-banner bg-dark">
  <div class="banner-img">
    <img src="{{ url_for('static', filename='img/banner-bg-right.jpeg') }}" alt="" />
  </div>
  <div class="container bg-dark">
    <div class="banner-detail py-5 text-center">
      <h1 class="banner-heading">Upcoming tournaments</h1>
      <p class="banner-text-two mb-5">
        Get in on the action by registering for one of our upcoming tournaments.
      </p>
    </div>
  </div>
</div>
<!--====== Banner Area End ======-->

<section>
  <div class="tournaments">
    <div class="container-fluid">
      <div class="row">
        {% for event in events %}
        <div class="col-md-4 col-12">
          {% include 'public/components/event_card.html' %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--====== Upcoming Tournaments Area End ======-->
{% with event = events[0] %}
{% include 'public/connect.html' %}
{% endwith %}
{% endblock %}
